artifacts/*


# Files created with commands:
#
# npm init --yes
# npm install eslint -g
# eslint --init
#
src/js/eslint.config.mjs
src/js/node_modules/
src/js/package-lock.json
src/js/package.json
historytracers
