artifacts/*
www/*
audios/*_*

*.tmp
*.swp
.env
GEMINI.md
AGENTS.md

scripts/bash/models/*.onnx*

# Files created with commands:
#
# npm init --yes
# npm install eslint -g
# eslint --init
#
src/js/eslint.config.mjs
src/js/node_modules/
src/js/package-lock.json
src/js/package.json

## Building
build-aux/*.*
build/
config.h.in~
configure~
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
config.h
config.h.in
config.log
config.status
configure
stamp-h1
historytracers.log
