Source: historytracers
Section: utils
Priority: optional
Maintainer: Thiago Marques <historytracers@gmail.com>
Build-Depends: debhelper-compat (= 13), systemd
Standards-Version: 4.6.2
Homepage: https://github.com/historytracers/historytracers

Package: historytracers
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Teaching is often a daily challenge for both students and teachers,
 each for different reasons.
 Our goal is to support both sides of the learning process by providing diverse tools.
